.credits {
  margin: 3% 0 7% 0;
  height: 600px;
  border-top: solid 1px rgba($imdb-yellow, 0.5);

  > div {
    margin: 2% 0;
    box-shadow: 0 0 10px 1px rgba($button-color, 0.6);
    > ul h3 {
      text-decoration: underline;
      margin: 2%;
    }
  }

  .person {
    margin: 2%;
    padding: 2%;
    border-radius: 10px;
    > a {
      > img {
        width: 75px;
        height: 112.5px;
      }
      > p {
        color: rgba($button-color, 0.75);
      }
    }
    > p {
      max-width: 60%;
    }
    &.even {
      box-shadow: 0 0 200px 1px rgba($button-color, 0.5);
    }
  }
}