.pictures {
  margin: 3%;
  border-top: solid 1px rgba($imdb-yellow, 0.5);
  max-width: 60%;

  > .picture-list {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow-x: auto;

    > li {
      height: 100%;
      margin: 0 1%;
      > img {
        height: 100%;
        object-fit: contain;
      }
    }
  }
}