
.recommendations {
  max-width: 1100px;
  width: 100%;
  height: 400px;
  margin: 3% 0 7% 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  > div {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    > .carousel {
      margin-right: 5%;
      height: 100%;

      .myActive {
        box-shadow: 0 0 5px 3px $imdb-yellow;
      }
      .carousel-item {
        .rec-poster {
          width: 125px;
          margin: 2%;
          cursor: pointer;
        }
      }
    }

    > .rec-movie {
      width: 40%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      > div {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        > svg {
          color: $imdb-yellow;
        }
        > a > img {
          width: 200px;
        }
      }
    }
  }
}