.videos {
  margin: 3%;
  border-top: solid 1px rgba($imdb-yellow, 0.5);
  max-width: 60%;

  > .video-list {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow-x: auto;

    > li {
      margin: 0 2%;
    }
  }
}