#person-cast, #person-crew {
  border-radius: 10px;
  box-shadow: 0 0 200px 1px rgba($imdb-yellow, 0.75);
  margin: 2%;
  > h4 {
    font-weight: bold;
    font-style: oblique;
    color: $button-color;
    border-radius: 10px;
    padding: 2%;
    background-color: rgba($button-color, 0.2);
  }
}

.cast-list, .crew-list {
  max-height: 600px;
  > li {
    padding: 1%;
    margin: 1%;
    > a {
      max-width: 70%
    }
    h4 {
      font-style: italic;
      font-weight: bold;
    }
    p {
      font-weight: bold;
    }
  }
}