.person-show {
  width: 70%;
  max-width: 800px;
  > * {
    margin: 2%;
  }
  > h3 {
    
  }
  > img {
    width: 50%;
  }
  > span {
    font-style: italic;
    font-weight: bold;
    > span {
      font-style: normal;
    }
  }
}