.billboard-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 100%;
  margin-bottom: 2%;
  > * {
    margin: 1%;
  }

  > .trailer {
    width: 60%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    > .empty {
      position: absolute;
      background-color: transparent;
    }
    
    > img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  > a {
    width: 40%;
    height: 90%;

    > img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
  }

}

.blur-me {
  filter: blur(10px);
}