.billboard {
    width: 80%;
    height: 530px;
    padding: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.poster {


}

.trailer {


    #play {
        
    }
}

#left-arrow {

}

#right-arrow {

}