.billboard-item {
  position: static;
  display: flex;
  justify-content: center;
  align-items: center;
  // width: 90%;

  > a {
    height: 100%;
    width: 33.333333%
  }

  img {
    height: 100%;
    width: 100%;
    cursor: pointer;
  }

  video {
    height: 100%;
    width: 66.6666666666%;
  }

}