.app {
  position: relative;
  width: 100vw;
}

#frontpage {
  width: 100%;

  a.carousel-control-next, a.carousel-control-prev {
    border-radius: 2rem;
    background-color: rgba(255, 255, 255, 0.185);
  }

  .carousel-item {
    justify-content: center;
    align-items: center;
  }

  > .carousel > .carousel-inner {
    > .carousel-item-next,
     .carousel-item-prev,
     .carousel-item.active {
        display: flex;
     }
  }
}
