.app {
  position: relative;
  width: 100vw;
}

#frontpage {
  width: 100%;

  a.carousel-control-next, a.carousel-control-prev {
    border-radius: 2rem;
    background-color: rgba(255, 255, 255, 0.185);
    width: 10%;
  }

  .carousel-item {
    justify-content: center;
    align-items: center;
  }
}

.carousel-item.active {
  display: flex !important;
}

.billboard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}