.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 8px;
  margin-bottom: 5px;
}

.header > * {
  padding: 6px 16px;
}

.header .grey-hover:hover {
  background-color: rgba(64, 64, 64, 1);
  border-radius: 2px;
  color: rgb(254, 254, 254);
    > * {
      background-color: rgba(64, 64, 64, 1);
    }
}

.header-logo {
  width: 74px;
  height: 32px;
}

.grey-hover {
  min-width: 70px;
  padding: 5px 8px;
}

#header-menu, #watchlist-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

