.header {
  width: 80%;
  height: 52px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 110px 10px 110px;
  padding: 4px 0;
  * {
    justify-items: center;
    align-items: center;
  }
}

.header > * {
  font-size: 16px;
  font-weight: bold;
}


.header-logo {
  width: 66px;
  height: 26px;
}


.person-icon {
  padding: 10px;
  margin-right: 5px;
}

#header-menu {
  pointer-events: none;
}

#header-menu, #watchlist-button {
  display: flex;
  justify-content: center;
  align-items: center;
}



