.header {
  width: 80%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 110px 10px 110px;
  padding: 4px 0;
  * {
    justify-items: center;
    align-items: center;
  }
}

.header > * {
  font-size: 12px;
  font-weight: bold;
}


.header-logo {
  width: 60px;
  height: 24px;
}

#login-button {
  padding: 10px 0;
}

#header-menu, #watchlist-button {
  display: flex;
  justify-content: center;
  align-items: center;
}



