
#menu-page {
  display: none;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  > * {
    padding: 20px;
    cursor: pointer;
  }
}

.close-button {
  border-radius: 10px;
}

#menu-page.active {
  display: flex;
  cursor: initial;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  animation: pullFromTop 0.5s ease-in-out 0s forwards;
}

.menu-logo {
  min-width: 200px;
  pointer-events: none;
}

#menu-button {
  display: flex;
  justify-content: center;
  align-items: center;
}