.movie-show-page {
  // background-color: rgba(32, 32, 32, 0.9);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;

  #movie-billboard {
    width: 80%;
    display: flex;
    justify-content: center;
  }

  a {
    pointer-events: none;
  }
  
  > .information {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    width: 80%;

    > * {
      padding: 0 5px;
      font-size: 24px;
      max-width: 60%;
    }
    
    :nth-child(1) {
      font-size: 40px;
    }
  }
}

