.review-form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  width: 100%;
  > h3 {
    cursor: pointer;
    padding: 10px;
    width: 20%;
    text-decoration: underline;
    font-weight: bolder;
    font-size: 24px;
    color: white;
    text-align: center;
  }
  > form {
    position: relative;
    width: 100%;
    height: 200px;
    margin-bottom: 20px;
    > textarea {
      padding: 20px;
      font-size: 16px;
      width: 100%;
      height: 100%;
    }
    > input[type="submit"] {
      position: absolute;
      background-color: black;
      padding: 5px;
      right: 0;
      bottom: 0;
      border-radius: 5px;
      cursor: pointer;

      &:hover {
        background-color: rgba($hover-color, 0.8);
        color: black;
      }
    }
  }
}

.movie-reviews {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 20px;
  > h3 {
    font-size: 32px;
    margin-bottom: 10px;
  }

  > .review {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid rgba($hover-color, 0.8);
    padding: 20px;
    margin: 5px;
    :first-child > * {
      padding: 5px;
    }
  }
}

.showedit {
  max-width: 90%;
  word-wrap: break-word;
}

