.user-rating {
  display: flex;
  flex-direction: row-reverse;
}

#rating-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.faStar {
  color: white;
  cursor: pointer;
}

.faStar:hover {
  color: $button-color;
}

.faStar:hover ~ .faStar {
  color: $button-color;
}

.faStar.checked ~ .faStar {
  color: $button-color
}

.faStar.checked {
  color: $button-color
}

#open-rating {
  cursor: pointer;
  margin: 2px;
  > * {
    padding: 1px;
  }
}

.static {
  pointer-events: none;
}
