#open-rating {
  transition: color ease-in-out 0.2s;

  &:hover {
    // text-shadow: 2px 2px 5px $button-color;
    color: $button-color;
  }
}

#rating-button {
  &:hover .user-rating {
    visibility: visible;
    animation: growFromCenter ease-in-out 0.5s;
  }
}

.user-rating {
  display: flex;
  flex-direction: row-reverse;
  visibility: hidden;
  &:hover {
    visibility: visible;
  }
}

.user-rating-static {
  display: flex;
  flex-direction: row-reverse;
  visibility: visible;
}

#rating-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.faStar {
  color: white;
  cursor: pointer;
  transition: color 0.3333s;
}

.faStar:hover {
  color: $button-color;
}

.faStar:hover ~ .faStar {
  color: $button-color;
}

.faStar.checked ~ .faStar {
  color: $button-color
}

.faStar.checked {
  color: $button-color
}

#open-rating {
  cursor: pointer;
  margin: 2px;
  > * {
    padding: 1px;
  }
}

