#header-searchbar {
  width: 50%;
  height: 30px;
  padding: 0;
  position: relative;
}

.search-form {
  display: flex;
  height: 100%;
  border-radius: 5px;
  > * {
    border-radius: 1px 2px 3px 4px;
  }
  > input[type=submit] {
    background-color: transparent;
    border: none;
    position: absolute;
    right: 0;
    padding: 1px;
    border-radius: 5px;
    &:focus {
        outline: none;
    }
    &:hover {
      background-color: rgba($hover-color, 0.15);
    }
  }
}

.input-text {
  width: 100%;
  height: 25px;
  padding-right: 25px;
  background-color: white;
  color: black;
  position: relative;
  background-color: rgba(255, 255, 255, 0.9);
  transition: background-color 0.5s;
  &:focus{
    background-color: white;
  }
  &:hover {
    background-color: red;
  }

  &:hover #movie-searched{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

#movie-searched {
  z-index: 1;
  position: absolute;
  width: 90%;
  top: 30px;
  left: 5%;
  padding: 5px;
  display: none;
  > li {
    padding: 5px;
    margin: 3px;
    border: 1px solid grey;
    width: 100%;
    cursor: pointer;
    > img {
      width: 50px;
      padding: 5px;
    }
    > span {
      position: relative;
      bottom: 35px;
    }
  }

  > li:hover {
    background-color: rgba($hover-color, 0.7);
  }
}
