
//sign in button

.imdb-button {
  min-height: 40px;
  width: 100%;
  background-color: rgba($button-color, 0.9);
  border-radius: 5px;
  margin-top: 5px;
  font-weight: bold;
  color: black;
  cursor: pointer;
  transition: box-shadow 0.25s;

  &:hover {
    box-shadow: 0px 0px 5px 2px hsl(42, 100%, 75%);
  }
}


.imdb-button:active {
  background-color: rgba($button-color, 0.9);
  font-weight: bolder;
}

.imdb-button:focus {
  outline: none;
}

.regular-button {
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}