$serif: georgia,"times new roman",times,serif;
$sans-serif: arial, helvetica, sans-serif;
$imdb-font: "Palatino Linotype", "Book Antiqua", Palatino, serif;

$errors-color: rgb(255, 0, 0);
$hover-color: rgb(64, 64, 64);
$white: rgb(255, 255, 255);
$button-color: #fa9e35;
